body {
  background-color: darkblue;
  
  background-image: url("https://imgs.search.brave.com/NXUDEuR2iRbrNRG8MpOilDTxLlL6pXJF-DOPiYLCpG0/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTc4/MTIyODU1L3Bob3Rv/L2FuLWlsbHVzdHJh/dGlvbi1vZi1hLXJl/ZC1kcmFnb24taW4t/ZnJvbnQtb2YtYS1r/bmlnaHQuanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPXFxRDVL/MjB6eTRIMGs4TFhq/eEo0QlVNZTZFWU1Q/SWt2SFNReENOSEVs/b2s9");
  
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}
