.game{
    width: 100%;
  height: 700px;
  
  background-image: url("https://imgs.search.brave.com/vOR4W4PGHS1SwSfkryQd4FbBqoV5uRknDEmOZs-Ab6Q/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTAz/MDMxODc3MC9waG90/by90aGUtYm95LWFn/YWluc3QtdGhlLWRy/YWdvbi5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9OVRDWXdL/NHdvZDFteFdYblRB/eE1jNVh1MkgteEhS/LUMyMWZJM1pRenQw/RT0");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}
